{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "**/*.generated.*"
  ],
  "rules": {
    "func-call-spacing": "off",
    "no-labels": [
      "error",
      {
        "allowLoop": true
      }
    ],
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": [
      2,
      "never"
    ],
    "space-before-function-paren": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none",
        "vueIndentScriptAndStyle": true,
        "arrowParens": "avoid"
      }
    ]
  }
}